html {

  box-sizing: border-box;
  color: $main-font-color;
  font-size: $font-size;
  font-family: $font-vollkorn;

}

*, *:before, *:after {

  box-sizing: inherit;

}

.global-wrapper {

  display: flex;
  flex-direction: column;
  margin: 0 2%;
  min-width: 320px;
  min-height: 100vh;

}

.header-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: $main-font-color;

}

.header-wrapper::after {

  content: "";
  display: block;
  border-bottom: 1px solid #e9e9e9;
  height: 10px;
  width: 60vw;
  margin: 50px 3%;

}

.header {

  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-weight: 400;

}

.header__logo {

  background: $logo;
  width: 500px;
  height: 100px;

}

.main-nav {

  .toggleNav {

    display: none;
    text-align: center;
    position: relative;
    font-family: $font-ubuntu;
    text-transform: uppercase;

  }

  a {

    display: inline-block;
    position: relative;
    color: $main-font-color;
    text-decoration: none;
    margin: 0 30px;
    font-size: $font-size * 1.1;
    color: $main-font-color;

  }

  ul {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

  }

}

.divider {

  border-top: 1px solid #e9e9e9;
  margin-top: 30px;
  margin-bottom: 30px;

}


.footer-wrapper::before {

  content: "";
  display: block;
  border-bottom: 1px solid #e9e9e9;
  height: 10px;
  width: 90vw;
  margin: 50px 3% 0 3%;

}

.footer {

  display: flex;
  margin: 0 3%;
  color: lighten($main-font-color, 30%);
  justify-content: space-between;
  font-size: $font-size * 0.8;

}
