$line-1: "/design/l1/travel-to-spain-70.jpg",
         "/design/l1/bribe-dialog-70.jpg",
         "/design/l1/pencil-70.jpg",
         "/design/l1/love-reading-70.jpg",
         "/design/l1/shut-up-and-surf-70.jpg",
         "/design/l1/books-cafe-logo-70.jpg",
         "/design/l1/balloons-discover-70.jpg",
         "/design/l1/dopamine-70.jpg";

$line-2: "/design/l2/admit-one-70.jpg",
         "/design/l2/city-70.jpg",
         "/design/l2/beer-with-friends-ls-70.jpg",
         "/design/l2/coffee-shop-logo-70.jpg",
         "/design/l2/chief-bc-70.jpg",
         "/design/l2/crazy-egg-face-404-error-70.jpg",
         "/design/l2/low-poly-seagull-70.jpg",
         "/design/l2/mmm-ig-70.jpg";

$line-3: "/design/l3/aim-70.jpg",
         "/design/l3/drink-and-read-70.jpg",
         "/design/l3/ice-cream-thick-70.jpg",
         "/design/l3/lets-get-down-70.jpg",
         "/design/l3/massage-gears-70.jpg",
         "/design/l3/africa-flat-70.jpg",
         "/design/l3/surfing-lettering-70.jpg",
         "/design/l3/sale-flyer-70.jpg";

$line-4: "/design/l4/cinema-googles-coming-soon-70.jpg",
         "/design/l4/search-bars-70.jpg",
         "/design/l4/brochure-design-70.jpg",
         "/design/l4/i-love-you-with-heart-70.jpg",
         "/design/l4/lets-go-surfing-70.jpg",
         "/design/l4/shopping-cart-70.jpg",
         "/design/l4/timeline-long-shadows-bright-ig-70.jpg",
         "/design/l4/use-your-brain-70.jpg";

$line-5: "/design/l5/coding-profile-70.jpg",
         "/design/l5/save-the-ocean-70.jpg",
         "/design/l5/h2o-70.jpg",
         "/design/l5/shopping-70.jpg",
         "/design/l5/black-friday-70.jpg",
         "/design/l5/travel-the-world-banner-70.jpg",
         "/design/l5/surfing-tshirt-70.jpg",
         "/design/l5/long-shadow-graph-ig-70.jpg";

$line-6: "/design/l6/good-evening-beer-70.jpg",
         "/design/l6/premium-coffee-70.jpg",
         "/design/l6/announcement-70.jpg",
         "/design/l6/travel-to-mountains-70.jpg",
         "/design/l6/cloud-service-concept-70.jpg",
         "/design/l6/africa-map-perspective-70.jpg",
         "/design/l6/i-love-reading-70.jpg",
         "/design/l6/surf-and-sun-lo-set-blue-70.jpg";

$line-7: "/design/l7/africa-ig-70.jpg",
         "/design/l7/circles-ig-2-70.jpg",
         "/design/l7/cocktail-70.jpg",
         "/design/l7/shopping-bg-70.jpg",
         "/design/l7/rectangles-identity-kit-70.jpg",
         "/design/l7/sound-cloud-70.jpg",
         "/design/l7/surfbeat-70.jpg",
         "/design/l7/surfing-squares-tshirt-a2-70.jpg";

$line-8: "/design/l8/circles-ig-70.jpg",
         "/design/l8/love-is-in-the-air-70.jpg",
         "/design/l8/money-bag-ig-70.jpg",
         "/design/l8/lets-go-skateboarding-70.jpg",
         "/design/l8/surfing-lesson-invite-70.jpg",
         "/design/l8/surfing-text-70.jpg",
         "/design/l8/sale-flyer-2-70.jpg",
         "/design/l8/set-of-colorful-business-icons-70.jpg";

$line-9: "/design/l9/vintage-surfing-badge-70.jpg",
         "/design/l9/aces-70.jpg",
         "/design/l9/bsc-ig-70.jpg",
         "/design/l9/modern-3d-boards-70.jpg",
         "/design/l9/sticker-70.jpg",
         "/design/l9/shiny-frame-70.jpg",
         "/design/l9/timeline-ig-2-70.jpg",
         "/design/l9/music-folder-ic-70.jpg";

