.main-page-content {

  display: flex;
  flex-grow: 1;
  min-width: 320px;

  div {

    flex: 1;
    padding: 0 3%;
    
  }

  .main-page-content__left {

    flex: 2;

  }

  .main-page-content__middle {

    padding-left: 5%;

  }

  ul {

    list-style: none;
    padding: 0;

  }

  .home-intro-link {
    text-decoration: none;
    color: blue;
    text-shadow: 0px 3px 3px rgba(66, 70, 82, 0.2);   
  }

}