.main-page-content {

  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-width: 320px;

  .main-page-content__wrapper {
    max-width: 65vw;
  }
  // div {

    // flex: 1;
    // padding: 0 3%;

  // }

  ul {

    list-style: none;
    padding: 0;

  }

  .home-intro-link {
    text-decoration: none;
    color: blue;
    text-shadow: 0px 3px 3px rgba(66, 70, 82, 0.2);
  }

}
