//@import "custom";

@media all and (max-width: 1000px) {

  .main-page-content {
    flex-direction: column;    
  }

}

@media all and (max-width: 700px) {
  
  .page-header__logo {
    font-size: $font-size * 1.5;
    padding-top: 20px;
  }

  .header-wrapper > * {
    order: 9999;
  }

  .main-nav {

    order: 1;

    .toggleNav {
      display: block;
    }

    ul {

      display: none;
      flex-direction: column;

      a {
        margin: 10px;
      }

      li {
        height: $font-size * 2;
      }

    }

    .open {
        display: flex;
      }

  }

}

@media all and (max-width: 400px) {
  
  .page-header__logo {
    font-size: $font-size;
  }

  .main-nav {

    a {
    font-size: $font-size * 0.8;
    }

  }

}