doctype html
html
head
  title [Michael @ Work :: Space]
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

body
  div class="header"
  - if current_user.try(:admin?) || Rails.env.development?
    div align="right"
      = link_to "New post", new_admin_post_path
      = ' | '
      = link_to "Dashboard", admin_posts_path 
      = ' | '
      = link_to "Sign out", destroy_user_session_path, method: :delete

  - if notice
    p class="notice" 
    = notice
  - elsif alert
    p class="alert" 
    = alert

  div class="container"
    = yield

